
<div class="eventItem">
  <div class="friendEventPhoto" style="background: url({{admin-event.image}}) no-repeat center; background-size: cover;">
    <p class='eventType'>{{admin-event.type}} EVENT</p>
  </div>
  <div class="eventText">
    <h3>{{admin-event.eventName}}</h3>
    <p>{{admin-event.date}} at {{admin-event.time}} | {{admin-event.location}}</p>
  </div>
  <div class="friendsGoing">
    <p class="going">Friends Going:</p>
    <div class="friendicons">
      <div class="friendicon" style="background: url({{admin-event.friend1}}) no-repeat center; background-size: cover;"></div>
      <div class="friendicon" style="background: url({{admin-event.friend2}}) no-repeat center; background-size: cover;"></div>
      <div class="friendicon" style="background: url({{admin-event.friend3}}) no-repeat center; background-size: cover;"></div>
      <div class="friendicon" style="background: url({{admin-event.friend4}}) no-repeat center; background-size: cover;"></div>
      <div class="friendicon" style="background: url({{admin-event.friend5}}) no-repeat center; background-size: cover;"></div>
    </div>
  </div>
</div>
