{{#liquid-if editFormShowing class="edit"}}
<div class="editEvent">
  <h2>Edit this Event</h2>
  <form class="editEventForm">
    <div class="form-group">
      <label for="eventName">Event Name</label>
      {{input value=event.eventName placeholder=event.eventName id="eventName"}}
    </div>
    <div class="form-group">
      <label for="date">Event Date</label>
      {{input type=date value=event.date placeholder=event.date id="date"}}
    </div>
    <div class="form-group">
      <label for="time">Event Time</label>
      {{input value=event.time placeholder=event.time id="time"}}
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      {{input value=event.location placeholder=event.location id="location"}}
    </div>
    <div class="form-group">
      <label for="image">Event Photo URL</label>
      {{input value=event.image placeholder=event.image id="image"}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea value=event.description placeholder=event.description id="description"}}
    </div>
    <label for="price">Price Range</label>
    {{#x-select value=event.price placeholder=event.price}}
      {{#x-option value='Free-$20'}}Free-$20{{/x-option}}
      {{#x-option value='$20-$50'}}$20-$50{{/x-option}}
      {{#x-option value='$50+'}}$50+{{/x-option}}
    {{/x-select}}
    <label for="type">Urban or Wild?</label>
    {{#x-select placeholder=event.type value=event.type}}
      {{#x-option value='Urban'}}Urban{{/x-option}}
      {{#x-option value='Wild'}}Wild{{/x-option}}
      {{#x-option value='Weird'}}Weird{{/x-option}}
    {{/x-select}}
    <button {{action 'editEvent' event}}>Save Edits</button>
  </form>
  <button{{action 'toggleEdit'}}>Nevermind!</button>
</div>
{{else}}
  <div class="editEvent">
    <button id="editEvent" {{action 'toggleEdit'}}>Edit Event</button>
  </div>
{{/liquid-if}}
