{{#liquid-if formShow}}
<div class="filterSearch">
  <form class="filterSearchForm">
    <div class="checkgroup urbanWildCheckboxes">
      <div {{action 'selectUrban'}} class="getUrban">
        <img src="img/codescoolgrad.png" alt="" />
        <h3>Get Urban</h3>
      </div>

      <div class="getWild">
        <img {{action 'selectWild'}} src="img/ponytail.png" alt="" />
        <h3>Get Wild</h3>
      </div>

      <div class="getWeird">
        <img {{action 'selectWeird'}} src="img/ponytail.png" alt="" />
        <h3>Get Weird</h3>
      </div>
    </div>

    <div class="checkgroup priceRangeCheckboxes">
      <div class="cheapPrice">
        <label for="price">Free-$20</label>
        <img {{action 'scroll2'}} src="img/ponytail.png" alt="" />
      </div>
      <div class="mediumPrice">
        <label for="price">$20-$50</label>
        <img {{action 'scroll2'}} src="img/ponytail.png" alt="" />
      </div>
      <div class="expensivePrice">
        <label for="price">$50+?</label>
        <img {{action 'scroll2'}} src="img/ponytail.png" alt="" />
      </div>
    </div>
    <div class="">
      <button {{action 'search'}}>Get Out!</button>
    </div>
  </form>
</div>
{{else}}
<button {{action 'tryAgain'}}>Try Again</button>
{{/liquid-if}}
