{{#liquid-if formShow}}
<div class="filterSearch">
  <form class="filterSearchForm">
    <div class="checkgroup urbanWildCheckboxes">
      <div {{action 'selectUrban'}} class="getUrban">
        <img src="img/urban.png" alt="" />
        <h3>Get Urban</h3>
      </div>

      <div class="getWild">
        <img {{action 'selectWild'}} src="img/wild.png" alt="" />
        <h3>Get Wild</h3>
      </div>

      <div class="getWeird">
        <img {{action 'selectWeird'}} src="img/weird.png" alt="" />
        <h3>Get Weird</h3>
      </div>
    </div>

    <div class="checkgroup priceRangeCheckboxes">
      <div class="cheapPrice">
        <img class="moneyBag" {{action 'scroll2'}} src="img/money-bag.png" alt="" />
        <!-- <h3>Free-$20</h3> -->
      </div>
      <div class="mediumPrice">
        <img class="moneyBag" {{action 'scroll2'}} src="img/money-bag.png" alt="" />
        <img class="moneyBag" {{action 'scroll2'}} src="img/money-bag.png" alt="" />
        <!-- <h3>$20-$50</h3> -->
      </div>
      <div class="expensivePrice">
        <img class="moneyBag" {{action 'scroll2'}} src="img/money-bag.png" alt="" />
        <img class="moneyBag" {{action 'scroll2'}} src="img/money-bag.png" alt="" />
        <img class="moneyBag" {{action 'scroll2'}} src="img/money-bag.png" alt="" />
        <!-- <h3>$50+?</h3> -->
      </div>
    </div>
    <div class="">
      <button {{action 'search'}}>Get Out!</button>
    </div>
  </form>
</div>
{{else}}
<button {{action 'tryAgain'}}>Try Again</button>
{{/liquid-if}}
