<div class="eventDetail">
  <div class="eventDetailImage" style="background: url({{model.image}}) no-repeat center; background-size:cover;">{{model.type}} Event</div>
  <div class="detailText">
    <h3>{{model.eventName}}</h3>
    <h4>{{model.date}} at {{model.time}}</h4>
    <p>{{model.location}}</p>
    <p>{{model.description}}</p>
    <p>{{model.price}}</p>
  </div>
</div>

{{edit-event event=model editEvent="editEvent"}}

<!-- event=model -->
