<div class="navbar">
  {{#link-to 'home-page'}}<h2 id="title">logo</h2>{{/link-to}}
  <div class="menu">
    {{#link-to 'profile'}}<div class="profileImage"></div>{{/link-to}}
    <h3 {{action 'showNav'}}>MENU</h3>
  </div>
  <div class="navigation hidden">
    <p>Browse All Events</p>
    {{#link-to 'index'}}<p>Sign Out</p>{{/link-to}}
  </div>
</div>

<div class="results hidden">
  <h1>these are results!</h1>
  <div class="urbanEvents hidden">
    <h3>urban events</h3>
    {{#each model as |admin-event|}}
    {{admin-event-tile urban-event admin-event=admin-event}}
    {{/each}}
  </div>
  <div class="wildEvents hidden">
    <h3>wild events</h3>
    {{#each model as |admin-event|}}
    {{admin-event-tile wild-event admin-event=admin-event}}
    {{/each}}
  </div>
  <div class="weirdEvents hidden">
    <h3>weird events</h3>
    {{#each model as |admin-event|}}
    {{admin-event-tile weird-event admin-event=admin-event}}
    {{/each}}
  </div>
</div>

{{search-form}}
